@model IEnumerable<Inzynierka.Models.Expo>

@{
    ViewBag.Title = "Moje Targi";
}

<h2>Moje Targi</h2>

<p>
    @Html.ActionLink("Dodaj", "Index","Expoes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_Expo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpoStartData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpoEndData)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name_Expo, "Details", "Expoes", new { id = item.Id }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpoStartData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpoEndData)
        </td>
        <td>
    @Html.ActionLink("Uczestnicy", "List", "Users", new { id = item.Id }, null)
    <b>| </b>@Html.ActionLink("Wystawcy", "List", "Companies", new { id = item.Id }, null)
        </td>
    </tr>
}
</table>
