@model Inzynierka.Models.User

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ForName)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.ForName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            <a href="tel:@Html.DisplayFor(model => model.Phone)">@Html.DisplayFor(model => model.Phone)</a>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <div style="width:15%;float:left;margin-left:1%">
                <a href="~/Images/User/@Model.Photo"><img src="~/Images/User/@Model.Photo" alt="" width="100%" height="100%" style="border-radius:5px;max-height:340px;max-width:480px" /></a>
            </div>
        </dd>
        <br />
       
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <br />

    </dl>
</div>
<p>
   @if (User.IsInRole("Administrator")) { <b></b>@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <b>|</b>
    @Html.ActionLink("Back to List", "Index") <b></b>}
@if (User.IsInRole("User")&&Model.Email==User.Identity.Name)
{ <b></b>@Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })    <b>|</b>
    @Html.ActionLink("Wróć", "Index", "Home")<b></b>
}
@if (User.IsInRole("Organizator"))
{ <b></b> @Html.ActionLink("Wróć", "Index", "Home")<b></b>
}
@if (User.IsInRole("User") && Model.Email != User.Identity.Name)
{ <b></b> @Html.ActionLink("Wróć", null, null, null, new { href = Request.UrlReferrer })<b></b>
}
@if (User.IsInRole("Wystawca") && Model.Email != User.Identity.Name)
{ <b></b> @Html.ActionLink("Wróć", null, null, null, new { href = Request.UrlReferrer })<b></b>
}
</p>
