@model IEnumerable<Inzynierka.Models.User>

@{
    ViewBag.Title = "Uczestnicy";
}

<h2>Lista Uczestników</h2>

<p></p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ForName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
